// 常用mixin
// 浮动
@mixin float($side:left){
  float: unquote($side);
 }
//左浮动
  //@include pull-left;
@mixin pull-left{
  @include float(left);
}
  //@exextend
%pull-left {
  @include float(left);
}
//右浮动
@mixin pull-right{
  @include float(right);
}
%pull-right {
  @include float(right);
}
//重置浮动
@mixin reset-float($display:block){
  float: none;
  display: $display;
}
//清除浮动
@mixin clearfix {
  &:before, &:after {
    content: ""; display: table;
  }
  &:after {
    clear: both;
    overflow: hidden;
  }
}
%clearfix {
  @include clearfix;
}
//图片替代文本
@mixin ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}
%ir {
  @include ir;
}
//隐藏元素
@mixin hidden {
  display: none !important;
  visibility: hidden;
}
%hidden {
  @include hidden;
}
//截取文本text-overflow
@mixin singleline-ellipsis($substract:0){//`$substract`单位为%
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100% - $substract;
}
%singleline-ellipsis {
  @include singleline-ellipsis;
}
//禁用样式disabled
@mixin disabled($bgColor: #e6e6e6,$textColor:#ababab){
  background-color: $bgColor !important;
  color: $textColor !important;
  cursor: not-allowed !important;
}
//最小高度min-height
@mixin min-height($height){
  min-height: $height;
  height: auto !important;
  @if $legacy-support-for-ie {
    _height: $height;
  }
}
// 清除默认样式
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd{ margin:0; padding:0;}
li{ list-style:none;}
a{ color:#000; text-decoration:none;}
img{ vertical-align:top; border:none;}
body{ font-size:12px;font-family: "微软雅黑";}
